<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/favicon.ico" />

    <link rel="stylesheet" href="/static/css/index.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" />

    <title>{{title}}</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>{{title}}</h1>
      </div>

      <div class="content">
        {% block content %} {% endblock %}
      </div>

      <nav>
        <h3>Links:</h3>
        <a href="https://www.github.com/tjh90" target="_blank">
          <i class="fab fa-github"></i>
          <p>GitHub</p>
        </a>
        <a href="https://eprints.soton.ac.uk/404274/" target="_blank">
          <i class="fa fa-book"></i>
          <p>PhD thesis</p>
        </a>
        <a href="https://ieeexplore.ieee.org/document/7029130" target="_blank">
          <i class="fa fa-file-alt"></i>
          <p>Paper</p>
        </a>
      </nav>
    </div>
  </body>
</html>
