{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/music.css" />
{% endblock %}

{% block headerBtn %}
  <a href="/index.html">
    <i class="fas fa-arrow-left"></i>
  </a>
{% endblock%}

{% block content %}
  <h3>Untitled #1</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/untitled1.wav"></audio>
  </div>
  <h3>Untitled #2</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/untitled2.wav"></audio>
  </div>
  <h3>Untitled #3</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/untitled3.wav"></audio>
  </div>
  <h3>Untitled #4</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/untitled4.wav"></audio>
  </div>
  <h3>Exosphere</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Exosphere.wav"></audio>
  </div>
  <h3>Thermosphere</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Thermosphere.wav"></audio>
  </div>
{% endblock %}
