{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/music.css" />
{% endblock %}

{% block headerBtn %}
  <a href="/index.html">
    <i class="fas fa-arrow-left"></i>
  </a>
{% endblock%}

{% block content %}
  <h3>Untitled #1</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Untitled1.wav" />
  </div>
  <h3>Untitled #2</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Untitled2.wav" />
  </div>
  <h3>Untitled #3</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Untitled3.wav" />
  </div>
  <h3>Untitled #4</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Untitled4.wav" />
  </div>
  <h3>Exosphere</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Exosphere.wav" />
  </div>
  <h3>Thermosphere</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Thermosphere.wav" />
  </div>
  <h3>Troposphere</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Troposphere.wav" />
  </div>
  <h3>Hazy Sunset</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/HazySunset.wav" />
  </div>
  <h3>Thing</h3>
  <div class=AudioContainer>
    <audio controls type="audio/wav" src="/static/media/Thing.wav" />
  </div>
{% endblock %}
