# Development and build directories to ignore.
.settings/
.vscode/
bin/
node_modules/
target/

# HTTPS certification files.
certs/
*.pem

# JavaScript and TypeScript files.
*.js
*.ts
*.tsx

# Other files.
.classpath
.env
.project
index.html
layouts.json
package.json
package-lock.json
tsconfig.json
