img.EightBallIcon {
  height: 400px;
  margin: 20px 25px;
  width: 400px;
}

@keyframes EightBallIcon-idle {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes EightBallIcon-shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(25px);
  }
  75% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

div.BlueTriangle {
  align-items: center;
  color: white;
  height: 250px;
  position: fixed;
  top: 100px;
  width: 250px;
}

div.BlueTriangle img {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

@keyframes BlueTriangle-zoom {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

div.BlueTriangle p {
  height: 150px;
  margin: 40px 50px;
  position: absolute;
  width: 150px;
}
