@import "common.css";

nav {
  background-color: var(--blue);
  bottom: 0px;
  color: white;
  display: flex;
  left: 0px;
  padding: 0px 25px;
  position: fixed;
  width: 100%;
}

nav * {
  align-self: center;
  padding: 0px 10px;
}

a.PageLink {
  color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 20px;
  justify-content: center;
  text-decoration: none;
}

a.PageLink:hover {
  text-shadow: 3px 3px 3px var(--dark-blue);
}

a.PageLink i {
  font-size: 36px;
}
