body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0px;

  --blue: #4080FF;
  --dark-blue: #204080;
}

div.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

div.header {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex: 0 1 auto;
  padding: 0px 20px;
}

div.header a {
  align-self: center;
  color: white;
  flex: 0 1 auto;
  text-decoration: none;
}

div.header a:hover {
  text-shadow: 3px 3px 3px var(--dark-blue);
}

div.header a i {
  font-size: 36px;
}

h1 {
  flex: 1 1 auto;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
}

div.content {
  flex: 1 1 auto;
  padding: 25px;
}

div.content h3 {
  margin: 5px 0px;
  text-color: --var(dark-blue);
}

div.content p {
  margin: 5px 10px;
}

nav {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex: 0 1 auto;
}

nav * {
  align-self: center;
  flex: 1 1 auto;
  padding: 0px 5px;
}

nav h3 {
  text-align: center;
}

nav a {
  color: white;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 3px 3px 3px var(--dark-blue);
}

nav a i {
  flex: 0 1 auto;
  font-size: 36px;
}
