body {
  font-family: sans-serif;
  font-size: 14pt;
  height: 100vh;
  margin: 0px;

  --primary: #4080FF;
  --primary-dark: #204080;
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--primary-dark);
}

div.Container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

div.Header {
  background-color: var(--primary);
  color: white;
  display: flex;
  flex: 0 1 auto;
  padding: 0px 20px;
}

div.Header a {
  align-self: center;
  color: white;
  flex: 0 1 auto;
  text-decoration: none;
}

div.Header a:hover {
  text-shadow: 3px 3px 3px var(--primary-dark);
}

div.Header a i {
  font-size: 24px;
}

h1 {
  flex: 1 1 auto;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
}

div.Content {
  flex: 1 1 auto;
  padding: 25px;
}

div.Content h3 {
  margin: 20px 0px 5px 0px;
  color: var(--primary);
}

div.Content p {
  margin: 0px 10px;
}

nav {
  background-color: var(--primary);
  color: white;
  display: flex;
  flex: 0 1 auto;
}

nav * {
  align-self: center;
  flex: 1 1 auto;
  padding: 0px 5px;
}

nav h3 {
  text-align: center;
}

nav a {
  color: white;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 3px 3px 3px var(--primary-dark);
}

nav a:visited {
  color: white;
}

nav a i {
  flex: 0 1 auto;
  font-size: 36px;
}
